* { box-sizing: border-box; }
body { margin: 0; font-family: system-ui, Arial, sans-serif; }

.hero {
    min-height: 100vh;
    display: flex;
    gap: 24px;
    padding: 32px; 
    align-items: center;
    justify-content: space-between;
    background-color: #e4f9f5;
}

.left, .center, .right {
    flex: 1;
}

.center{
  flex: 1.2; 
  text-align: center;
} 

.resume {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-picture {
    border-radius: 100%;
    max-width: 300px;
}

.introduction {
    max-width: 500px;
}

.parts {
    max-width: 400px;
    border-radius: 100%;
}

.laptop {
    max-width: 400px;

}
